@import "../variable.module";

.key_container {
  background-color: $color_tone_5;
  color: inherit;
  padding: $key_padding_y $key_padding_x;
  margin: $key_margin_y $key_margin_x;
  min-width: $key_min_width;
  height: $key_height;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.125rem;
}
