@import "../variable.module";

.key_container {
  color: inherit;
  padding: $key_padding_y $key_padding_x;
  margin: $key_margin_y $key_margin_x;
  min-width: $key_min_width;
  height: $key_height;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: $key_font_size;
}

.correct {
  background-color: $correct_color !important;
  color: $color_tone_7;
}

.present {
  background-color: $present_color !important;
  color: $color_tone_7;
}

.absent {
  background-color: $absent_color !important;
  color: $color_tone_7;
}
