@import "../variable.module";

.tile_container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 2px;
  border-style: solid;
  text-transform: uppercase;
  margin: $tile_margin_y $tile_margin_x;
  font-weight: bold;
  font-size: $tile_font_size;
  width: $tile_width;
  height: $tile_height;
}

.correct {
  background-color: $correct_color;
}

.present {
  background-color: $present_color;
}

.absent {
  background-color: $absent_color;
}
